/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('assets/stage-lights.jpg') no-repeat center center fixed;
  background-size: cover;
}
.package {
  position: absolute;
  top: 46px;
  left: 0px;
  width: 15%;
  margin: 2%;
  padding: 1%;
  border-radius: 20px;
  background-color: hsla(12, 100%, 80%, .2);
  text-align: center;
}
.container {
  max-width: 90%;
  margin: 0 auto;
  background-color: hsla(12, 100%, 80%, .2);
  padding: 20px;
  border-radius: 30px;
}
img {
  float: right;
  width: 120px;
  height: 120px;
  border-radius: 25%;
  background-color: #666;
  filter: grayscale(50%);
}
img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  filter: grayscale(20%);
}

h1, h3, h4 {
  text-align: center;
  color: hsl(60, 100%, 80%);
}
h2 {
  color:  hsl(60, 100%, 80%)
}

p {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1rem;
   color: hsl(60, 100%, 80%);
}
.content {
  background-color: hsla(12, 100%, 80%, .2);
  border-radius: 45px;
  position: absolute;
  margin: 30px;
  padding: 30px;
  top: 65%;
  right: 0;
}

a {
  color:hsl(20, 100%, 75%) ;
  font-size: 35px;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
}

  